<style>
        /* Estilo para o conteiner 1 */
        .container1 {
            background-color: #d6d5d5;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        /* Estilo para a imagem de logomarca */
        .logo {
            max-width: 100%;
            height: auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        /* Estilo para o título e subtitulo */
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 18px;
            margin-bottom: 20px;
        }

        /* Estilo para o formulário de cadastro horizontal */
        .form-horizontal {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .form-group {
            flex-basis: calc(33.33% - 10px);
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .form-group:last-child {
            margin-right: 0;
        }

        /* Estilo para os campos de formulário */
        .form-control {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #333;
            border-radius: 5px;
        }

        /* Estilo para o botão "Enviar" */
        .btn-dark {
            background-color: #333;
            color: #f2f2f2;
            border: none;
            margin-top: 10px;
            width: 100%;
        }

        /* Estilo para alinhar o botão "Enviar" aos campos do formulário */
        .form-group-button {
            flex-basis: calc(33.33% - 10px);
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        /* Estilo para os links no rodapé */
        .footer-links {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            text-align: justify;
        }

        .footer-links li {
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }

        /* Estilo para o conteiner 2 */
        .container2 {
            background-color: #f5f5f5;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        /* Estilo para o título do conteiner 2 */
        .container2 .title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        /* Estilo para as linhas do conteiner 2 */
        .row-container2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        /* Estilo para cada item do conteiner 2 */
        .item-container2 {
            flex-basis: calc(33.33% - 10px);
            margin-right: 10px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            text-align: left;
        }

        /* Estilo para o ícone do conteiner 2 */
        .icon-container2 {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        /* Estilo para o título e subtitulo do conteiner 2 */
        .text-container2 {
            text-align: left;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Estilo para o conteiner 3 */
        .container3 {
            background-color: #d6d5d5;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        /* Estilo para a coluna da esquerda do conteiner 3 */
        .container3 .column-left {
            flex-basis: 50%;
            text-align: left;
        }

        /* Estilo para o título da coluna da esquerda */
        .container3 .column-left .title {
            font-size: 24px;
            font-weight: bold;
            padding: 0 30px;
        }

        /* Estilo para o texto da coluna da esquerda */
        .container3 .column-left p {
            font-size: 12px;
            padding: 0 30px;
        }

        /* Estilo para a coluna da direita do conteiner 3 */
        .container3 .column-right {
            flex-basis: 50%;
        }

        /* Estilo para a imagem da coluna da direita */
        .container3 .column-right img {
            width: 100%;
            height: auto;
        }

        /* Estilo para o conteiner 4 */
        .container4 {
            background-color: #f2f2f2;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        /* Estilo para a coluna da esquerda do conteiner 4 */
        .container4 .column-left {
            flex-basis: 50%;
            text-align: left;
        }

        /* Estilo para o vídeo da coluna da esquerda */
        .container4 .column-left video {
            width: 100%;
        }

        /* Estilo para a coluna da direita do conteiner 4 */
        .container4 .column-right {
            flex-basis: 50%;
            text-align: left;
        }

        /* Estilo para o título da coluna da direita */
        .container4 .column-right .title {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            padding: 0 30px;
            margin-bottom: 10px;
        }

        /* Estilo para o texto da coluna da direita */
        .container4 .column-right p {
            font-size: 12px;
            padding: 0 30px;
            text-align: left;
        }

        /* Estilo para o conteiner 5 */
        .container5 {
            background-color: #d6d5d5; /* Cor de fundo cinza mais claro */
            color: #333; /* Fontes em cinza escuro */
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        /* Estilo para o título h1 */
        .container5 h1 {
            font-size: 32px; /* Tamanho do título */
            font-weight: bold;
        }

        /* Estilo para o texto */
        .container5 p {
            font-size: 20px; /* Tamanho do texto */
        }

        /* Estilo para o título e subtitulo centralizados */
        .container5 .sub-title {
            font-size: 24px; /* Tamanho do subtítulo */
            font-weight: bold;
        }

        /* Estilo para as imagens lado a lado */
        .container5 .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container5 .image-container img {
            width: 80px; /* Tamanho das imagens */
            height: 80px; /* Tamanho das imagens */
            margin: 0 20px; /* Distância entre as imagens */
            border-radius: 50%; /* Imagens arredondadas */
        }
         /* Estilo para o conteiner 6 */
         .container1 {
            background-color: #f2f2f2;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        /* Estilo para a imagem de logomarca */
        .logo {
            max-width: 100%;
            height: auto;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        /* Estilo para o título e subtitulo */
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 18px;
            margin-bottom: 20px;
        }

        /* Estilo para o formulário de cadastro horizontal */
        .form-horizontal {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .form-group {
            flex-basis: calc(33.33% - 10px);
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .form-group:last-child {
            margin-right: 0;
        }

        /* Estilo para os campos de formulário */
        .form-control {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #333;
            border-radius: 5px;
        }

        /* Estilo para o botão "Enviar" */
        .btn-dark {
            background-color: #333;
            color: #f2f2f2;
            border: none;
            margin-top: 10px;
            width: 100%;
        }

        /* Estilo para alinhar o botão "Enviar" aos campos do formulário */
        .form-group-button {
            flex-basis: calc(33.33% - 10px);
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        /* Estilo para os links no rodapé */
        .footer {
            list-style: none;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            text-align: justify;
        }

        /* Estilo para o conteiner 7 */
        .container7 {
            background-color: #d6d5d5;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        /* Estilo para a imagem de logomarca no conteiner 7 */
        .logo-container7 {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px;
        }

        .logo-container7 img {
            max-width: 100%;
            max-height: 100%;
        }

        /* Estilo para o texto de direitos autorais no conteiner 7 */
        .copyright-text {
            font-size: 12px;
            color: #333;
            font-family: Arial, sans-serif;
        }

    </style>